.taninges {
    /* border-right: 1px solid #151519; */
    /* border-bottom: 1px solid #223b31; */
    padding: 40px;
    padding-bottom: 5px;
    padding-left: 20px;
    width: 50%;
    margin: auto;
    margin-bottom: 80px;
  }

  table {
    color: #333;
    text-align: center;
    width: 70%; 
    border-collapse: separate;
    border-spacing: 0; 
    margin: 30px auto; 
    background-color: #f9f9f9; 
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  }
  
  th, td {
    padding: 15px 20px; 
    border-bottom: 1px solid #ddd; 
  }
  
  th {
    background-color: #1a3436de; 
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 1px;
    padding: 20px; 
  }
  
  h2 {
    margin-bottom: 40px;
  }
  
  h1,
  h2 {
    text-align: center;
  }

  .accueil-introduction {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-items: flex-start;
    margin: auto;
  }
  
  .accueil-introduction h1 {
    margin-bottom: 15px;
  }
  
  .accueil-introduction p {
    margin-bottom: 30px;
  }
  
  .accueil-introduction div {
    padding-right: 80px;
  }

  .accueil-introduction img{
    display: block; 
    height: 300px; 
    width: auto;
    object-fit: cover; 
    border: 5px solid #333; 
    padding: 5px;
    border-radius: 10px; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

  @media screen and (max-width: 996px) {
    .section-tarifs {
      display: none;
    }
  }